{
  "extends": "eslint-config-defaults",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "angular": false
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules" : {
    no-unused-vars : ["error", { "varsIgnorePattern": "style" }]
  }
}